# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Dist folder
dist/

# Coverage directory used by tools like istanbul
coverage/

# Build output
build/

# Temporary files
*.tmp
*.temp

# IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
